/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}


/* Navbar Styling */


.navbar {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.6s;
}

.navbar.show {
  padding: 10px 50px;
  position: fixed;
  background-color: whitesmoke;
}

.navButton {
  padding: 8px 16px;
  margin-left: 30px;
  border: 3px solid #141414;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  transition: 0.6s;
}

.navButton:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link:hover {
  text-decoration: underline;
}

.nav-title {
  right: 55rem;
  position: relative;
  font-weight: 700;
  color: #141414;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  transition: 0.6s;
}


@media only screen and (max-width: 1600px) {
  .nav-title {
    right: 55rem;
  }
}

@media only screen and (max-width: 1500px) {
  .nav-title {
    right: 40rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  .nav-title {
    right: 25rem;
  }
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  .nav-title {
    right: 15rem;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;
    background-color: white
  }

  .navButton {
    margin-left: 20px;
  }

  .nav-title {
    right: 10rem;
    font-size: 1.5em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 20px 20px;
    background-color: white
  }

  .navButton {
    margin-left: 5px;
  }

  .nav-title {
    right: 1.1rem;
    font-size: 1.5em;
  }
}




/* Button Styling */

a.button {
  padding: 8px 16px;
  border: 3px solid #141414;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}

a.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}


/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}